@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-main-100: #d9ddf3;
  --color-main-200: #aab4e3;
  --color-main-300: #7a8ad2;
  --color-main-400: #4b61c2;
  --color-main-500: #2f4fbf;
  --color-bg-gray: #f5f5f5;
  --color-bg-main: #19202c;
  --color-text-red-theme: #aa1226;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Avar(--font-sans), Arial, Helvetica, sans-serif;
}

@layer utilities {
  @keyframes pulse-scale {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.15);
    }
  }

  .animate-pulse-scale {
    animation: pulse-scale 2s ease-in-out infinite;
    animation-delay: 2s; /* Delay mỗi lần lặp */
  }
}
